/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

/* Header */
h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

/* Section Styling */
h2 {
    color: #222;
    margin-top: 20px;
}
#testdiv{
    background-color: rgb(4, 105, 194);
}
p {
    font-size: 18px;
    color: #555;
    width: 80%;
    margin: 10px auto;
    line-height: 1.5;
}

/* Button Styling */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
